@model IEnumerable<MVCPROJECT.Models.Produto>
@{
    ViewData["Title"] = "Lista de Produtos"; 
}

<h2>Lista de produtos</h2>
<p>
    
</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <a asp-action="Create" class="btn btn-primary">Criar Produto</a>
    <tbody>
        @foreach (var produtos in Model)
        {
            <tr>
                <td>@produtos.Id</td>
                <td>@produtos.Nome</td>
                <td>@produtos.Preco.ToString("C")</td>
                <td>                    
                    <a asp-action="Edit" asp-route-id="@produtos.Id">Editar</a> |
                    <a asp-action="Excluir" asp-route-id="@produtos.Id">Excluir</a>

                </td>
            </tr>
            
        }
    
    </tbody>

</table>
